@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

#content{
    h1 {
        background-color: red;
        text-align: center;
    };

    p:has(img) {
        text-align: center;
    }

    table {
        border-collapse: collapse;
        border: 1px solid red;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        tr th {
            border: 1px solid red;
            min-width: 100px;
            max-width: 20%;
        }

        tr td {
            border: 1px solid red;
            max-width: 20%;
        }
    }
}